.addQuoteContainer {
  position: absolute;
  margin-top: 8%;
  left: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
}

.addQuoteBtn {
  height: 35px;
  width: 50px;
  color: #f2f4ff;
  background-color: transparent;
  border-color: #f2f4ff;
  border-radius: 5px;
  border-width: thin;
  margin-right: 5%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.addQuoteBtn:hover {
  background-color: #5e5d5d;
  cursor: pointer;
}
