body {
  background-color: #393939;
}

.bar {
  width: 0;
  height: 20px;
  transition: width 0.1s;
  background: #7af186;
  border-color: #f2f4ff;
  border-width: 5px;
  cursor: pointer;
  transition: 1s;
  border-radius: 35px;
}

.profileBody {
  color: #f2f4ff;
  
}
